#timer {
    color: white;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

.main {
    height: 500px;
    width: 150px;
    background: black;
    border-radius: 20px;
    margin-left: 100px;
    margin-top: 20px;
    padding: 20px;
}

.trafficlight {
    width: 80px;
    height: 80px;
    background-color: grey;
    border-radius: 50%;
    margin: 15px auto;
    opacity: 0.2;
    transition: opacity 0.5s ease;
}

#red { background: red; }
#yellow { background: yellow; }
#green { background: green; }
