.main-card{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 400px;
    width: 300px;
    background-color: rgb(243, 205, 16);
    /* padding: 30px; */
    margin-left: 500px;
    margin-top: 200px;
    border-radius: 12px;
}
.secondcard{
    font-size: 10px;
    margin-bottom: 10px;
    
}

.firstcard{
    font-size: 50px;
    margin-bottom: 10px;
    height: 260px;
    width: 300px;
    background-image: url('./background.jpeg');

    height: auto;
    width: 30px;
}
.btn{
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 12px;
    border-radius: 12px;
}