body {
    background: #0d0d0f;
    font-family: Arial;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.layout {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 350px;
    min-width: 350px;
    background: #0d0d0f;
    padding: 20px;
    overflow-y: auto;
    border-right: 2px solid #222;
}

.main-content {
    flex: 1;
    padding: 40px;
    overflow-y: auto;
    background: #111;
}

.section-title {
    font-size: 28px;
    font-weight: 700;
    margin: 20px 0 10px;
}

.book-card {
    background: #e6f5ff;
    border-radius: 10px;
    margin-bottom: 25px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}


.book-link {
    display: flex;
    padding: 12px;
    gap: 12px;
    align-items: flex-start;
    text-decoration: none;
    color: inherit;
}

.book-card.small {
    background: none;
    padding: 0;
}

.book-img img {
    width: 120px;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
}

.book-img.small img {
    width: 90px;
    height: 120px;
}

.book-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.book-title {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.book-card:not(.small) .book-title {
    color: #000;
}

.book-sub {
    font-size: 14px;
    margin-top: -4px;
}

.book-card:not(.small) .book-sub {
    color: #000;
}

.book-author {
    font-size: 13px;
    opacity: 0.9;
}

.book-card:not(.small) .book-author {
    color: #000;
}

.btn {
    margin-top: 10px;
    padding: 8px 18px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;     
}

.book-detail {
    display: none;
    animation: fadeIn 0.3s ease;
    position: relative;
}

.book-detail:target {
    display: block;
}


.detail-header {
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
    align-items: flex-start;
}

.detail-image {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}


.detail-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

.detail-subtitle {
    font-size: 1.3rem;
    color: #aaa;
    margin-bottom: 10px;
}

.detail-author {
    font-size: 1.1rem;
    color: #888;
    margin-bottom: 20px;
}

.detail-meta span {
    padding: 8px 15px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    font-size: 0.9rem;
}

.detail-description {
    background: rgba(255, 255, 255, 0.03);
    padding: 30px;
    border-radius: 10px;
}

.detail-description h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #fff;
}

.detail-description p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #ccc;
}

